

/* BookExplorer */
div.nav-file-title.bm-unread {
    border-right: 6px solid rgba(255, 0, 0, 0.3);;
}
div.nav-file-title.bm-reading {
    border-right: 6px solid rgba(255, 255, 0, 0.3);;
}
div.nav-file-title.bm-finished {
    border-right: 6px solid rgba(0, 255, 0, 0.3);
}

div.nav-file-title.bm-lost > div.nav-file-title-content{
    color: red;
}
div.nav-file-title.bm-lost:hover > div.nav-file-title-content {
    color: red;
}


/* array input */
div.array-input-container {
    width: 20em;
    flex: 1;
    background: var(--background-modifier-form-field);
    border: 1px solid var(--background-modifier-border);
    color: var(--text-normal);
    font-family: 'Inter', sans-serif;
    padding: 4px;
    font-size: 16px;
    border-radius: 8px;
    outline: none;
    overflow: auto;
    display: flex;
}

div.array-item {
    background-color: var(--text-accent);
    padding: 0px 6px 0px 5px;
    border-radius: 10%;
    margin: 0 1.5px;
    height: fit-content;
    white-space: nowrap;
}
div.array-item-title {
    color: white;
    display: inline-block;
}
div.array-item-delete-indicator {
    width: 1.5px;
    height: 8px;
    background-color: rgb(196, 196, 196);
    transform: rotate(45deg);
    display: inline-block;
    margin-left: 2px;
}
div.array-item-delete-indicator::after {
    content: '';
    display: block;
    width: 1.5px;
    height: 8px;
    background-color: rgb(196, 196, 196);
    transform: rotate(-90deg);
}

div.array-item-delete-indicator:hover
{
    background-color: white;
}

div.array-item-delete-indicator:hover:after {
    background-color: white;
}

div.array-input {    
    /* flex: 1; */
    width: 100%;
    height: 100%;
    padding: 0 2px;
    white-space: nowrap;
    overflow: auto;
}


/* Book QuickSetting */
div.modal.basic-book-setting-modal {
    padding-left: 1.5em;
    padding-right: 1.5em;
    width: 400px;
    min-width: 200px;
}
div.modal-title.book-setting-title {
    font-size:12pt;
    border-bottom: 1px solid gray;
    line-height:1.5em;
    /* padding: 0px Imp !important; */
}
div.book-setting-item {
    /* display: flex; */
    padding: 0.5em 0;
    width: 100%;
}

div.book-setting-item.oneline {
    display: flex;
    align-items: center;
}
div.book-setting-label {
    font-weight: bold;
    margin-left: 0px;
}

div.book-setting-item:not(.oneline) > div.book-setting-label {
    padding-bottom: 5px;
}
div.book-setting-value-container {
    margin-left: auto;
    margin-right: 0px;
    display:flex;
}
div.book-setting-value-container.full {
    flex: 1;
}
div.book-read-status-indicator {
    padding: 0px 6px;
    font-size: 14px;
    color: white;
    background-color: rgb(102, 101, 101);
}
div.book-read-status-indicator.active:hover {
    background-color: var(--text-accent) !important;
    
}
div.book-read-status-indicator:hover {
    background-color: var(--text-accent);
}

div.book-read-status-indicator.unread.active {
    background: rgb(73, 29, 29);
}
div.book-read-status-indicator.reading.active {
    background: #867702;
}
div.book-read-status-indicator.finished.active {
    background: rgb(20, 73, 27);
}


div.book-setting-note-indicator {
    position: relative;
    content: " ";
    display: inline-block;
    width: 1em;
    height: 1em;

    opacity: 0.6;
    /* margin-right: 0px; */
    margin-left: -8px;
    margin-bottom: -2px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: var(--text-folder-file-icon);
    -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill=""><path d="M0 0h24v24H0V0z" fill="none"/><path d="M8 16h8v2H8zm0-4h8v2H8zm6-10H6c-1.1 0-2 .9-2 2v16c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm4 18H6V4h7v5h5v11z"/></svg>');
}
div.book-setting-note-indicator:hover {
    opacity: 1;
}
div.book-score-icon {
    width: 24px;
    height: 24px;
    filter: invert(70%);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 18.26l-7.053 3.948 1.575-7.928L.587 8.792l8.027-.952L12 .5l3.386 7.34 8.027.952-5.935 5.488 1.575 7.928L12 18.26zm0-2.292l4.247 2.377-.949-4.773 3.573-3.305-4.833-.573L12 5.275l-2.038 4.42-4.833.572 3.573 3.305-.949 4.773L12 15.968z'/%3E%3C/svg%3E");

}

div.book-score-icon:hover {
    filter: invert(100%);
}

div.book-score-icon.fill {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 18.26l-7.053 3.948 1.575-7.928L.587 8.792l8.027-.952L12 .5l3.386 7.34 8.027.952-5.935 5.488 1.575 7.928z'/%3E%3C/svg%3E");
}
